/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "ngx-toastr/toastr";

@theme {

/* Colores de Marca */
  --color-creativa-primary: #F4A2C4;    /* Un rosa más fuerte que el pastel */
  --color-creativa-secondary: #FDF2F8;  /* Un rosa MUY claro (para fondos sutiles) */
  --color-creativa-accent: #FACC15;     /* Tu amarillo (para botones/links) */

  /* Fondos */
  --color-creativa-bg: #E0E2E5;        /* Fondo de página (Gris claro, de tu ejemplo) */
  --color-creativa-card: #FFFFFF;      /* Fondo de tarjetas (Blanco) */

  /* Texto */
  --color-creativa-heading: #2E2E2E;   /* Tu gris oscuro (para títulos) */
  --color-creativa-text: #4B5563;      /* Gris neutral (de tu ejemplo, para texto) */
  --color-creativa-text-white: #FFFFFF;
}